@model ContactAddViewModel
<div class="col-md-9 contact-middle">
	<h2>Mesajınızı Gönderin</h2>
	<form action="/Home/SendMessage" method="post">
		<div class="form-agileinfo">
			<p>Adınız ve Soyadınız</p>
			<input type="text" asp-for="Name" placeholder="Adınız..." required="" />
			<p>Email</p>
			<input type="email" asp-for="Email" placeholder="Mailiniz.." required="" />
		</div>
		<div class="form-agileits-w3layouts">
			<p>Mesajınız</p>
			<textarea asp-for="Message" placeholder="Mesajınız" required=""></textarea>
			<input type="submit" value="Mesajı Gönder">
		</div>
		<div class="clearfix"></div>
	</form>
</div>
