
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<p>Yaptığımız çalışmalarla ilgili bilgileri aşağıdaki linkten indirebilirsiniz.</p>
<a href="/Report/Static" class="btn btn-secondary">İndir</a>

<a href="/Report/DynamicReport" class="btn btn-secondary">Mesajları İndir</a>

