<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Paneli</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/web/template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/web/template/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/web/template/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/web/template/images/favicon.png" />
</head>
