
@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_DashboardHeadPartial")

<body>
    
@await Component.InvokeAsync("_DashboardNavbarPartial")

@await Component.InvokeAsync("_DashboardOverviewPartial")

@await Component.InvokeAsync("_DashboardChartPartial")

@await Component.InvokeAsync("_DashboardTablePartial")






@await Component.InvokeAsync("_DashboardScriptsPartial")



    
</body>

</html>
                    
                    
                



